JWT_SECRET=your-secret-key
RESEND_API_KEY=re_your_api_key
FRONTEND_URL=http://localhost:5173
BACKEND_URL=http://localhost:3000
DATABASE_URL="postgresql://postgres:HvlImOBBScpirsmOZnXkPbsePYcAhdbR@zephyr.proxy.rlwy.net:37616/railway"
PORT=3000
NODE_ENV=development

